Source: policycoreutils
VCS-Git: git://git.debian.org/~srivasta/debian/policycoreutils.git
VCS-Browser: http://git.debian.org/git/?p=users/srivasta/debian/policycoreutils.git
Priority: optional
Section: utils
Maintainer: Russell Coker <russell@coker.com.au>
Uploaders: Manoj Srivastava <srivasta@debian.org>
Standards-Version: 3.8.4.0
Build-Depends: libselinux1-dev (>= 2.0.94), libpam0g-dev,
 libsepol1-dev (>= 2.0.40), file, gettext, libsemanage1-dev (>= 2.0.45),
 python-sepolgen, libaudit-dev
XS-Python-Version: >= 2.5

Package: policycoreutils
Architecture: any
Depends: ${shlibs:Depends}, lsb-base (>= 3.2-13), python (>= 2.5),
  python-semanage, python-selinux, python-sepolgen (>=1.0.11-4)
Recommends: selinux-policy-default
Description: SELinux core policy utilities
 Security-enhanced Linux is a patch of the Linux® kernel and a number
 of utilities with enhanced security functionality designed to add
 mandatory access controls to Linux.  The Security-enhanced Linux
 kernel contains new architectural components originally developed to
 improve the security of the Flask operating system. These
 architectural components provide general support for the enforcement
 of many kinds of mandatory access control policies, including those
 based on the concepts of Type Enforcement®, Role-based Access Control,
 and Multi-level Security.
 .
 This package contains the core policy utilities that are required
 for basic operation of an SELinux system.  These utilities include
 load_policy to load policies, setfiles to label filesystems, newrole
 to switch roles, and run_init to run /etc/init.d scripts in the proper
 context.
